
<div class="card game-card">
  <div class="card" id="js-game-status-card" data-game_id=<%= game.id %>>
    <h1 class="card-title">Status</h1>
    <!-- Selector -->
    <p>In Check? <span id="js-in-check-status"></span></p>
  </div>
</div>
