<div class="form-page-container">
  <div class="form-page-content">
    <h3>Create Your Game</h3>
      <%= simple_form_for @game do |f| %>
      <%= f.input :name %>
      <br />
      <%= f.submit 'Create' %>
    <% end %></div>
</div>
