@import "bootstrap";

table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: auto;
  border: 2px solid black;
}

td {
  width: 100px;
  height: 100px;
  border: 5px solid;
  font-size: 60px;
  text-align: center;
  background-color: grey;
}

h1 {
  text-align: center;
  font-size: 40px;
}

tr:nth-child(even) td:nth-child(even),
tr:nth-child(odd) td:nth-child(odd) {
  background: white;
}

.navbar {
  font-family: "Courier New", Courier, monospace;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: image_url('ep_naturalblack.png');
}

.navbar-inverse a.navbar-brand {
  font-family: Chalkduster, fantasy;
  font-weight: 100;
  color: #428bca;
}

.hero {
  background: image_url('chess.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(128, 128, 128, 0.2);
  color: white;
}

.frosty h1 {
  font-family: Chalkduster, fantasy;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: Andale Mono, monospace;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
  font-family: "Courier New", Courier, monospace;
}

body {
  background: image_url('ep_naturalwhite.png');
  font-family: Andale Mono, monospace;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.overlay {
  background: white;
}

h1.header-title {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  font-size: 100px;
}

h1.paragraph-title {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  font-size: 50px;
}

h2.paragraph-title {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
  font-size: 40px;
}

.btn-lg.round {
  border-radius: 10px;
  font-family: Andale Mono, monospace;
  font-size: 18px;
}

.game-card {
  width: 804px;
  margin: 10px auto 10px auto; 
}
